<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>Notepad++</string>
	<key>CFBundleIdentifier</key>
	<string>com.notepadplusplus.wine</string>
	<key>CFBundleName</key>
	<string>Notepad++</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleVersion</key>
	<string>8.9</string>
	<key>LSMinimumSystemVersion</key>
	<string>11.0</string>
	<key>CFBundleSignature</key>
	<string>NPP8</string>
	<key>LSUIElement</key>
	<false/>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Text Document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.plain-text</string>
				<string>public.text</string>
				<string>public.data</string>
				<string>public.content</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
